<div class="container">
  <p>{{'sectors.title' | translate}}</p>
  <form #sectorsForm="ngForm">
    <div class="alert alert-danger" *ngIf="hasErrors()">
      <p class="text-danger" *ngFor="let error of errors">{{error | translate}}</p>
    </div>
    <div class="alert alert-success" *ngIf="saved">
      <p>Data saved</p>
    </div>

    <div class="row mb-3">
      <div class="col-8">
        <sectors-input [label]="'sectors.form.name' | translate"
                       [(ngModel)]="userSectors.name"
                       [required]="true"
                       [showErrors]="submitted"
                       [minlength]="1"
                       (ngModelChange)="onChange()"
                       [maxlength]="200"
                       name="name" id="name"></sectors-input>
      </div>
    </div>


    <div class="row mb-3">
      <div class="col-8">
        <sectors-multi-select [label]="'sectors.form.sector' | translate"
                              [(ngModel)]="userSectors.sectorIds"
                              [required]="true"
                              [choices]="sectorChoices"
                              (ngModelChange)="onChange()"
                              [showErrors]="submitted"
                              name="sector" id="sector"></sectors-multi-select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-8">
        <sectors-checkbox [label]="'sectors.form.terms' | translate"
                          [(ngModel)]="userSectors.agree"
                          [required]="true"
                          (ngModelChange)="onChange()"
                          [showErrors]="submitted"
                          name="agree" id="agree"></sectors-checkbox>
      </div>
    </div>

    <button type="submit" class="btn btn-success" (click)="onSubmit(sectorsForm)">{{'common.save' | translate}}</button>
  </form>
</div>
