.label {
  min-width: 200px !important;
}
.sectors-ml-0 {
  margin-left: 0;
}

.sectors-ml-1 {
  margin-left: 20px;
}

.sectors-ml-2 {
  margin-left: 40px;
}

.sectors-ml-3 {
  margin-left: 60px;
}

.sectors-ml-4 {
  margin-left: 80px;
}

.sectors-ml-5 {
  margin-left: 100px;
}

.sectors-ml-6 {
  margin-left: 120px;
}
.is-invalid{
  background-image: none;
}
