<div class="checkbox-component">
  <ng-container>
    <div class="d-table-cell pr-3 label label-md">
      <ng-container *ngTemplateOutlet="checkboxLabel"></ng-container>
    </div>
    <div class="d-table-cell w-100">
      <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </div>
  </ng-container>

  <ng-template #checkboxLabel>
    <label class="title">
      <span>{{label}}</span>
      <abbr class="text-danger" *ngIf="required">*</abbr>
    </label>
  </ng-template>

  <ng-template #checkbox>
    <select size="5" multiple class="form-control" id="sector"
            [required]="required"
            [ngClass]="{'is-invalid': (showErrors || !isValid()) && control && control.errors}"
            (ngModelChange)="onInputChange($event)"
            (blur)="onInputTouched()"
            [(ngModel)]="value" name="sector">
      <ng-container *ngFor="let parent of getParentChoices()">
        <ng-container [ngTemplateOutlet]="options"
                      [ngTemplateOutletContext]="{sector:parent, level:0}"></ng-container>
      </ng-container>
    </select>
  </ng-template>

  <ng-template #options let-sector='sector' let-level='level'>
    <option class="sectors-ml-{{level}}" [value]="sector.id" [selected]="isValueSelected(sector.id)">{{sector.name}}</option>
    <ng-container *ngFor="let parent of getChildChoices(sector.id)">
      <ng-container *ngIf="parent" [ngTemplateOutlet]="options"
                    [ngTemplateOutletContext]="{sector:parent, level:level+1}"></ng-container>
    </ng-container>
  </ng-template>

  <ng-container *ngIf="(showErrors || !isValid()) && control && control.errors">
    <div class="text-danger" *ngIf="control.errors.required">{{'sectors.form.message.choose' | translate}}</div>
  </ng-container>

</div>
