<div class="checkbox-component">
  <ng-container>
    <div class="d-table-cell pr-3 label label-md">
      <ng-container *ngTemplateOutlet="checkboxLabel"></ng-container>
    </div>
    <div class="d-table-cell w-100">
      <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </div>
  </ng-container>

  <ng-template #checkboxLabel>
    <label class="title" [ngClass]="{'text-danger': (showErrors || !isValid()) && control && control.errors}">
      <span>{{label}}</span>
      <abbr class="text-danger" *ngIf="required">*</abbr>
    </label>
  </ng-template>

  <ng-template #checkbox>
    <input type="checkbox"
           [disabled]="disabled"
           [required]="required"
           [name]="name"
           [id]="id"
           [(ngModel)]="value"
           [ngClass]="{'is-invalid': (showErrors || !isValid()) && control && control.errors}"
           (ngModelChange)="onInputChange($event)"
           (blur)="onInputTouched()"/>
  </ng-template>

  <ng-container *ngIf="(showErrors || !isValid()) && control && control.errors">
    <div class="text-danger" *ngIf="control.errors.required">{{'sectors.form.message.required' | translate}}</div>
  </ng-container>

</div>
