<div class="input-component">
  <ng-container>
    <div class="d-table-cell pr-3 label label-md">
      <ng-container *ngTemplateOutlet="inputLabel"></ng-container>
    </div>
    <div class="d-table-cell w-100">
      <ng-container *ngTemplateOutlet="input"></ng-container>
    </div>
  </ng-container>

  <ng-template #inputLabel>
    <label [attr.for]="id" class="sectors-label">
      <span>{{label}}</span>
      <abbr class="text-danger" *ngIf="required">*</abbr>
      <span>:</span>
    </label>
  </ng-template>

  <ng-template #input>
    <input type="text"
           class="form-control"
           [ngClass]="{'is-invalid': (showErrors || !isValid()) && control && control.errors}"
           [disabled]="disabled"
           [maxlength]="maxlength"
           [name]="name"
           [id]="id"
           [(ngModel)]="value"
           (ngModelChange)="onInputChange($event)"
           [required]="required"
           (blur)="onInputTouched()"/>
  </ng-template>
</div>

<ng-container *ngIf="(showErrors || !isValid()) && control && control.errors">
  <div class="text-danger" *ngIf="control.errors.required">{{'sectors.form.message.required' | translate}}</div>
  <div class="text-danger" *ngIf="control.errors.maxlength">{{'sectors.form.message.maxlength' | translate | format:[maxlength]}}</div>
</ng-container>
